<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"
        name="viewport" />
    <meta name="c" c="{$channel}">
    <meta name="s" s="{$linkId}">
    <meta charset="UTF-8">
    <meta name="my" k="{$key}">
    <link rel="stylesheet" href="__CSS__/abcd/home.css?v=4">
    <script src="__JS__/abcd/rem.min.js"></script>
    <link rel="stylesheet" href="__CSS__/abcd/swiper-bundle.min.css">
    <style>
        .donw_new {
            width: 54px;
            height: 22px;
            border-radius: 22px;
            background: #00FFE114;
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            color: #6cef38;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="swiper-c">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="scrollable-content">
                        <div class="my-sticky">
                            <div class="marquee-wrap">
                                <div class="marquee-box">
                                    <img class="notif" src="__IMG__/abcd/notification.svg" alt="" srcset="">
                                    <div class="container-main">
                                        <p>&#26816;&#27979;&#21040;&#24403;&#21069;&#27983;&#35272;&#22120;&#24050;&#25318;&#25130;&#26412;&#31449;&#37096;&#20998;&#33394;&#24773;APP&#65292;&#22914;APP&#22270;&#26631;&#26080;&#27861;&#28857;&#20987;&#65292;&#35831;&#22797;&#21046;&#32593;&#22336;&#23581;&#35797;&#19981;&#21516;&#27983;&#35272;&#22120;
                                        </p>
                                    </div>
                                    <a class="hidden" href="" target="_blank">
                                        <img src="__IMG__/abcd/load.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="px8">
                            <div id="banner1-swiper" class="swiper">
                                <div class="swiper-wrapper">
                                    {foreach $tuijianlunbo as $index}
                                    <div class="swiper-slide">
                                        {if condition="$index['is_apk']"}
                                        <a href="{$index['androidurl']}" i="{$index['id']}" target="_blank">
                                            {else/}
                                            <a href="{:createDetailUrl($channel,$index['id'])}">
                                                {/if}
                                                <img class="banner1-img" src="{$index['img']}" alt="">
                                            </a>
                                    </div>
                                    {/foreach}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="jgg-conter mt-12">
                                {foreach $tuijianjiugongge as $index}
                                {if condition="$index['is_apk']"}
                                <a class="jgg-item" href="{$index['androidurl']}" i="{$index['id']}" target="_blank">
                                    {else/}
                                    <a class="jgg-item" href="{:createDetailUrl($channel,$index['id'])}">
                                        {/if}



                                        <img class="jgg-img" src="{$index['img']}" alt="">
                                        <div class="text">{$index['name'] | raw}</div>
                                        <div class="mt-4 donw_new">
                                            {$index["cid"]|downFont}
                                            <!--<img src="__IMG__/abcd/load-icon.svg" alt="" srcset="">-->
                                        </div>
                                    </a>
                                    {/foreach}
                            </div>
                            <div class="jgg-wrap">
                                <div class="xm-title">&#23448;&#26041;&#25512;&#33616;&#65;&#80;&#80;</div>
                                <div class="ad-item-wrap s-wrap">
                                    {foreach $tuijianyipailiang as $index}

                                    {if condition="$index['is_apk']"}
                                    <a href="{$index['androidurl']}" i="{$index['id']}" class="lf-g" target="_blank">
                                        {else/}
                                        <a href="{:createDetailUrl($channel,$index['id'])}" class="lf-g">
                                            {/if}





                                            <img class="lf-g-img" src="{$index['img']}" alt="" srcset="">
                                            <div class="lf-g-d">
                                                <div class="ad-name">
                                                    {foreach $index['names'] as $key => $name}
                                                    {if ($key == 0) }
                                                    {$name}
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                                <div class="lf-g-load mt-4">
                                                    {foreach $index['names'] as $key => $name}
                                                    {if ($key == 1) }
                                                    {$name}
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                            </div>
                                            <img class="go-icon" src="__IMG__/abcd/right-icon.svg" alt="" srcset="">
                                        </a>
                                        {/foreach}
                                </div>
                            </div>
                            <div class="jgg-wrap">
                                <div class="xm-title">&#21516;&#22478;&#32422;&#28846;</div>
                                <div class="waterfall-flow">
                                    {foreach $tuijiantongcheng as $index}

                                    {if condition="$index['is_apk']"}

                                    <a class="flow-item" href="{$index['androidurl']}" i="{$index['id']}"
                                        target="_blank">
                                        {else/}
                                        <a class="flow-item" href="{:createDetailUrl2($channel,$index['id'])}">
                                            {/if}

                                            <div class="flow-img-wrap">
                                                <img class="flow-img" src="{$index['img']}" alt="" srcset="">
                                                <div class="flow-ab">
                                                    <div class="sound">
                                                        <img src="__IMG__/abcd/ypm-iocn.svg" alt="" srcset="">
                                                        <span>12''</span>
                                                    </div>
                                                    <div class="praise">
                                                        <img src="__IMG__/abcd/zan-icon.svg" alt="" srcset="">
                                                        <span>{$index['yueNum']}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flow-text-wrap">
                                                <div class="flow-text1">
                                                    <div class="flow-name">
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 0) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                    <div class="flow-add"><img src="__IMG__/abcd/map-icon.svg" alt=""
                                                            srcset="">
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 1) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                </div>
                                                <div class="flow-tips">
                                                    <div>
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 2) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}</div>
                                                    <div>
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 3) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                    <div>
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 4) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                </div>
                                                <div class="flow-text2 text">
                                                    {foreach $index['names'] as $key => $name}
                                                    {if ($key == 5) }
                                                    {$name}
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                            </div>
                                        </a>
                                        {/foreach}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scrollable-content px8">
                        <div class="top-sticky">
                            <div></div>
                            <img class="item-tile" src="__IMG__/abcd/kp-title.svg" alt="" srcset="">
                            <img class="copy-icon" src="__IMG__/abcd/copy-icon.svg" alt="">
                        </div>
                        <div class="jgg-wrap">
                            <div class="jgg-conter">
                                {foreach $kanpianjiugongge as $index}
                                {if condition="$index['is_apk']"}
                                <a class="jgg-item" href="{$index['androidurl']}" i="{$index['id']}" target="_blank">
                                    {else/}
                                    <a class="jgg-item" href="{:createDetailUrl($channel,$index['id'])}">
                                        {/if}
                                        <img class="jgg-img" src="{$index['img']}" alt="">
                                        <div class="text">{$index['name'] | raw}</div>
                                        <div class="mt-4 donw_new">
                                            {$index["cid"]|downFont}
                                        </div>
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                        <div class="jgg-wrap">
                            <div class="xm-title mb-0">&#23448;&#26041;&#25512;&#33616;&#65;&#80;&#80;</div>
                            <div class="ad-item-wrap s-wrap">
                                {foreach $kanpianyipailiang as $index}
                                {if condition="$index['is_apk']"}
                                <a href="{$index['androidurl']}" i="{$index['id']}" class="lf-g" target="_blank">
                                    {else/}
                                    <a href="{:createDetailUrl($channel,$index['id'])}" class="lf-g">
                                        {/if}

                                        <img class="lf-g-img" src="{$index['img']}" alt="" srcset="">
                                        <div class="lf-g-d">
                                            <div class="mb-4 ad-name">
                                                {foreach $index['names'] as $key => $name}
                                                {if ($key == 0) }
                                                {$name}
                                                {/if}
                                                {/foreach}
                                            </div>
                                            <div class="lf-g-load">
                                                {foreach $index['names'] as $key => $name}
                                                {if ($key == 1) }
                                                {$name}
                                                {/if}
                                                {/foreach}
                                            </div>
                                        </div>
                                        <img class="go-icon" src="__IMG__/abcd/right-icon.svg" alt="" srcset="">
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scrollable-content px8">
                        <div class="top-sticky">
                            <div></div>
                            <img class="item-tile" src="__IMG__/abcd/live-title.svg" alt="" srcset="">
                            <img class="copy-icon" src="__IMG__/abcd/copy-icon.svg" alt="">
                        </div>

                        <div class="jgg-wrap">
                            <div class="live-wrap">

                                {foreach $zhibozhibo as $index}
                                {if condition="$index['is_apk']"}
                                <a href="{$index['androidurl']}" i="{$index['id']}" class="live-item relative"
                                    target="_blank">
                                    {else/}
                                    <a href="{:createDetailUrl($channel,$index['id'])}" class="live-item relative">
                                        {/if}

                                        <img class="hot-icon" src="__IMG__/abcd/hot-icon.svg" alt="" srcset="">
                                        <div class="center-icon">
                                            进入直播间
                                        </div>
                                        <img class="live-item-img" src="{$index['img']}" alt="" srcset="">
                                        <div class="bt-info">
                                            <div class="bt-info-left">
                                                <div class="dian"></div>
                                                <div class="online-num">{$index['onlineNum']}</div>
                                                <div class="inner">人在线</div>
                                            </div>
                                            <div>
                                                <img src="__IMG__/abcd/gifzhibo.js" alt="" srcset="">直播中
                                            </div>
                                        </div>
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scrollable-content px8">
                        <div class="top-sticky">
                            <div></div>
                            <img class="item-tile" src="__IMG__/abcd/yp-title.svg" alt="" srcset="">
                            <img class="copy-icon" src="__IMG__/abcd/copy-icon.svg" alt="">
                        </div>
                        <div class="zp-menu-wrap">
                            <div class="zp-menu-item active">
                                <img class="menu-img1 hidden" src="__IMG__/abcd/kj-g.js" alt="" srcset="">
                                <img class="menu-img2" src="__IMG__/abcd/kj-g-active.js" alt="" srcset="">
                            </div>
                            <div class="zp-menu-item">
                                <img class="menu-img1" src="__IMG__/abcd/tc-g.js" alt="" srcset="">
                                <img class="menu-img2 hidden" src="__IMG__/abcd/tc-g-active.js" alt="" srcset="">
                            </div>
                        </div>
                        <div class="zp-swper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="waterfall-flow">
                                        {foreach $yuepashangmen as $index}

                                        {if condition="$index['is_apk']"}

                                        <a class="flow-item" href="{$index['androidurl']}" i="{$index['id']}"
                                            target="_blank">
                                            {else/}
                                            <a class="flow-item" href="{:createDetailUrl2($channel,$index['id'])}">
                                                {/if}

                                                <div class="flow-img-wrap">
                                                    <img class="flow-img" src="{$index['img']}" alt="" srcset="">
                                                    <div class="flow-ab">
                                                        <div class="sound">
                                                            <img src="__IMG__/abcd/my-icon.svg" alt="" srcset="">
                                                            <span>99%满意</span>
                                                        </div>
                                                        <div class="praise">
                                                            <img src="__IMG__/abcd/zan-icon.svg" alt="" srcset="">
                                                            <span>{$index['yueNum']}喜欢</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flow-text-wrap">
                                                    <div class="flow-text1">
                                                        <div class="g-name">
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 0) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                            <span class="g-info">
                                                                {foreach $index['names'] as $key => $name}
                                                                {if ($key == 1) }
                                                                {$name}
                                                                {/if}
                                                                {/foreach}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flow-tips">
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 2) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 3) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 4) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                    <div class="flow-text2 text2">
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 5) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                    <div class="g-pic">
                                                        <div class="g-l-bg g-bg">
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 6) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div class="g-r-bg g-bg">
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 7) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            {/foreach}
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="waterfall-flow">
                                        {foreach $yuepaotongcheng as $index}
                                        {if condition="$index['is_apk']"}
                                        <a class="flow-item" href="{$index['androidurl']}" i="{$index['id']}"
                                            target="_blank">
                                            {else/}
                                            <a class="flow-item" href="{:createDetailUrl2($channel,$index['id'])}">
                                                {/if}

                                                <div class="flow-img-wrap">
                                                    <img class="flow-img" src="{$index['img']}" alt="" srcset="">
                                                    <div class="flow-ab">
                                                        <div class="sound">
                                                            <img src="__IMG__/abcd/ypm-iocn.svg" alt="" srcset="">
                                                            <span>12''</span>
                                                        </div>
                                                        <div class="praise">
                                                            <img src="__IMG__/abcd/zan-icon.svg" alt="" srcset="">
                                                            <span>{$index['yueNum']}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flow-text-wrap">
                                                    <div class="flow-text1">
                                                        <div class="flow-name">
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 0) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div class="flow-add"><img src="__IMG__/abcd/map-icon.svg"
                                                                alt="" srcset="">
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 1) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                    <div class="flow-tips">
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 2) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 3) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                        <div>
                                                            {foreach $index['names'] as $key => $name}
                                                            {if ($key == 4) }
                                                            {$name}
                                                            {/if}
                                                            {/foreach}
                                                        </div>
                                                    </div>
                                                    <div class="flow-text2 text">
                                                        {foreach $index['names'] as $key => $name}
                                                        {if ($key == 5) }
                                                        {$name}
                                                        {/if}
                                                        {/foreach}
                                                    </div>
                                                </div>
                                            </a>
                                            {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {notempty name="$bocaijiugongge"}
                <div class="swiper-slide">
                    <div class="scrollable-content px8">
                        <div class="top-sticky">
                            <div></div>
                            <img class="item-tile" src="__IMG__/abcd/zq-title.svg" alt="" srcset="">
                            <img class="copy-icon" src="__IMG__/abcd/copy-icon.svg" alt="">
                        </div>
                        <div class="jgg-wrap">
                            <div class="jgg-conter">
                                {foreach $bocaijiugongge as $index}

                                {if condition="$index['is_apk']"}
                                <a class="jgg-item" href="{$index['androidurl']}" i="{$index['id']}" target="_blank">
                                    {else/}
                                    <a class="jgg-item" href="{:createDetailUrl($channel,$index['id'])}">
                                        {/if}

                                        <img class="jgg-img" src="{$index['img']}" alt="">
                                        <div class="text">{$index['name'] | raw}</div>
                                        <div class="mt-4">
                                            <img src="__IMG__/abcd/load-icon.svg" alt="" srcset="">
                                        </div>
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                        <div class="jgg-wrap">
                            <div class="xm-title mb-0">&#23448;&#26041;&#25512;&#33616;&#65;&#80;&#80;</div>
                            <div class="ad-item-wrap s-wrap">
                                {foreach $bocaiyipailiang as $index}
                                {if condition="$index['is_apk']"}

                                <a href="{$index['androidurl']}" i="{$index['id']}" class="lf-g" target="_blank">
                                    {else/}
                                    <a href="{:createDetailUrl($channel,$index['id'])}" class="lf-g">
                                        {/if}

                                        <img class="lf-g-img" src="{$index['img']}" alt="" srcset="">
                                        <div class="lf-g-d">
                                            <div class="ad-name">
                                                {foreach $index['names'] as $key => $name}
                                                {if ($key == 0) }
                                                {$name}
                                                {/if}
                                                {/foreach}
                                            </div>
                                            <div class="lf-g-load mt-4">
                                                {foreach $index['names'] as $key => $name}
                                                {if ($key == 1) }
                                                {$name}
                                                {/if}
                                                {/foreach}
                                            </div>
                                        </div>
                                        <img class="go-icon" src="__IMG__/abcd/right-icon.svg" alt="" srcset="">
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
                {/notempty}
                <div class="swiper-slide">
                    <div class="scrollable-content px8">
                        <div class="top-sticky">
                            <div></div>
                            <img class="item-tile" src="__IMG__/abcd/cy-title.svg" alt="" srcset="">
                            <img class="copy-icon" src="__IMG__/abcd/copy-icon.svg" alt="">
                        </div>
                        <div class="jgg-wrap">
                            <div class="qq-wrap">
                                {foreach $shangchengshangcheng as $index}
                                {if condition="$index['is_apk']"}
                                <a href="{$index['androidurl']}" i="{$index['id']}" class="qq-item" target="_blank">
                                    {else/}
                                    <a href="{:createDetailUrl($channel,$index['id'])}" class="qq-item">
                                        {/if}

                                        <div class="qq-img-wrap">
                                            <img class="qq-img" src="{$index['img']}" alt="">
                                        </div>
                                        <div class="qq-title">
                                            {foreach $index['names'] as $key => $name}
                                            {if ($key == 0) }
                                            {$name}
                                            {/if}
                                            {/foreach}
                                        </div>
                                        <div class="qq-info">
                                            <div>
                                                <div class="qq-pic">
                                                    ￥{foreach $index['names'] as $key => $name}
                                                    {if ($key == 1) }
                                                    {$name}
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                                <div class="qq-pj">
                                                    <img src="__IMG__/abcd/star-icon.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="qq-pl">
                                                <div class="qq-ys">已售{$index['sellNum']}+</div>
                                                <div>{$index['onlineNum']}+评价</div>
                                            </div>
                                        </div>
                                    </a>
                                    {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <div class="footer-item active">
                <div>
                    <img class="nav-icon hidden" src="__IMG__/abcd/home-icon.svg" alt="">
                    <img class="nav-icon-active " src="__IMG__/abcd/home-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#25512;&#33616;</div>
            </div>
            <div class="footer-item">
                <div>
                    <img class="nav-icon" src="__IMG__/abcd/kp-icon.svg" alt="">
                    <img class="nav-icon-active hidden" src="__IMG__/abcd/kp-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#30475;&#29255;</div>
            </div>
            <div class="footer-item">
                <div>
                    <img class="nav-icon" src="__IMG__/abcd/live-icon.svg" alt="">
                    <img class="nav-icon-active hidden" src="__IMG__/abcd/live-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#30452;&#25773;</div>
            </div>
            <div class="footer-item">
                <div>
                    <img class="nav-icon" src="__IMG__/abcd/yp-icon.svg" alt="">
                    <img class="nav-icon-active hidden" src="__IMG__/abcd/yp-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#32422;&#21866;</div>
            </div>
            {notempty name="$bocaijiugongge"}
            <div class="footer-item">
                <div>
                    <img class="nav-icon" src="__IMG__/abcd/bcn-icon.svg" alt="">
                    <img class="nav-icon-active hidden" src="__IMG__/abcd/bcn-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#21338;&#24425;</div>
            </div>
            {/notempty}
            <div class="footer-item">
                <div>
                    <img class="nav-icon" src="__IMG__/abcd/sc-icon.svg" alt="">
                    <img class="nav-icon-active hidden" src="__IMG__/abcd/sc-icon-a.svg" alt="">
                </div>
                <div class="nav-name">&#21830;&#22478;</div>
            </div>
        </div>
    </div>

    <script>
        var base = '{$base_url}';
        { if !empty($tongjiCode)}
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?{$tongjiCode}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        {/if }

        // 51la
        { if !empty($la51)}
        var hm = document.createElement("script");
        hm.src = "//sdk.51.la/js-sdk-pro.min.js";
        hm.id = 'LA_COLLECT';
        hm.charset = 'UTF-8';
        var s = document.getElementsByTagName("meta")[0];
        s.parentNode.insertBefore(hm, s);
        hm.onload = function () {
            var hm1 = document.createElement("script");
            hm1.innerHTML = "LA.init({$la51})";
            hm.insertAdjacentElement('afterend', hm1);
        }
        {/if }
        // cnzz
        { if !empty($cnzz)}
        var _czc = _czc || [];
        (function () {
            var um = document.createElement("script");
            um.src = "https://v1.cnzz.com/z.js?id={$cnzz}&async=1";
            var s = document.getElementsByTagName("meta")[0];
            s.parentNode.insertBefore(um, s);
        })();
        {/if }
    </script>
    <script src="__JS__/abcd/jquery.min.js"></script>
    <script src="__JS__/abcd//swiper-bundle.min.js"></script>
    <script src="__JS__/abcd/app.js?v=4"></script>
    <script>
        $(function () {





            $.ajax({
                type: 'get',
                url: base + '/getip',
                //async: true,
                contentType: 'application/json',
                dataType: 'jsonp',
                success: function (data) {
                    if (data.hasOwnProperty('city')) {
                        $(".city").html(data.city);
                    }
                },
            });

            (function () {
                //先让返回为当前页面
                let backjumpUrl = '{$backjumpUrl}'
                if (backjumpUrl) {
                    try {
                        window.history.pushState('forward', null, '#');
                        window.addEventListener(
                            'popstate',
                            function () {
                                // Adclick('{$backjumpAdId}')
                                window.location.href = backjumpUrl;
                            },
                            false
                        );
                    } catch (err) { }
                }
            })();
        });

    </script>
</body>

</html>